<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/templates/styles.css">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod urna nec libero sollicitudin, id facilisis velit tristique. Nullam auctor dolor nec lorem vehicula, nec posuere nulla ultrices.</p>
        <p>Etiam euismod nunc sit amet ligula feugiat, in cursus dolor consequat. Phasellus mollis ultrices sem, in fermentum justo suscipit sit amet. In hac habitasse platea dictumst. Mauris euismod orci ut dui lobortis, nec aliquet sapien euismod.</p>
    </div>
</body>
</html>
